<div class="most-shared-container">
  <h1 class="most-shared-header">
    {{header}}
  </h1>
    <ul>
      {{#articles}}
        <li class="most-shared-article">
          <div class="most-shared-img">
            <img src="{{imageUrl}}" alt="" />
          </div>

          <div class="most-shared-info">
            <a class="shared-title" href="{{url}}">
              {{title}}
            </a>
            <div class="shared-nr">
              {{fb_shares}}x delt
            </div>
          </div>
        </li>
      {{/articles}}
    </ul>
</div>
